.corDeFundoPadraoVermelho{
    background-color: #ee0000 !important;
}
.btnRedimensionar{
    margin-top: 18px;
    margin-left:100px;
    background-color: #ffffff !important;
}
.corDeFundoPadraoBranco{
    background-color: #ffffff !important;
}
.formatarCamposMenuLateralPrincipal{
    color: #ffffff;
    font-family: sans-serif;
}
.tituloSuperior{
    color: #ffffff;
    font-family: sans-serif;
}
.centralizarCampos{
    text-align: center;
}