<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>HOME</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/simple-sidebar.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/jquery.js"/>
    <script src="/js/bootstrap.min.js"/>
</head>
<body>

<div class="container-fluid corDeFundoPadraoVermelho">
    <div class="navbar-header">
        <a class="navbar-brand">
            <span class="tituloSuperior">Sulnorte</span>
            <a href="#menu-toggle" class="glyphicon glyphicon-align-justify btnRedimensionar" id="menu-toggle"></a>
        </a>
    </div>
</div>

<div id="wrapper">

    <div id="sidebar-wrapper" class="corDeFundoPadraoBranco">
        <ul class="sidebar-nav">
            <a href="#posicao" class="list-group-item list-group-item-success corDeFundoPadraoVermelho" data-toggle="collapse" data-parent="#MainMenu">
                <span class="formatarCamposMenuLateralPrincipal"><strong>Posição de frota</strong></span>
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="collapse" id="posicao">
                <a href="#" class="list-group-item"><span>Sulnorte</span></a>
                <a href="#" class="list-group-item"><span>Brasil</span></a>
            </div>
            <a href="#cadastro" class="list-group-item list-group-item-success corDeFundoPadraoVermelho" data-toggle="collapse" data-parent="#MainMenu">
                <span class="formatarCamposMenuLateralPrincipal"><strong>Cadastro</strong></span>
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="collapse" id="cadastro">
                <a href="/porto/list" class="list-group-item"><span>Porto</span></a>
                <a href="#" class="list-group-item"><span>Armador</span></a>
                <a href="#" class="list-group-item"><span>Rebocador</span></a>
            </div>
        </ul>
    </div>
    <section layout:fragment="conteudo">
        <p>Conteúdo principal</p>
    </section>

</div>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>
</html>