<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>

    <div class="modal fade" id="modalExcluir" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content alinharModal">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Atenção</h3>
                </div>
                <div class="modal-body">
                    <span>Tem certeza que deseja excluir o registro?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>