<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout"
       xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PORTO</title>
</head>

<body>
    <section layout:fragment="conteudo">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <ol class="breadcrumb">
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/porto/list}">Porto</a></li>
                            <li class="active">Detalhar Porto</li>
                        </ol>

                        <h2>Detalhar Porto</h2>
                        <hr />
                            <div class="form-group">
                                <h3>Porto</h3>
                                <div class="well col-sm-12">
                                    <div class="col-sm-4">
                                        <label>Nome:</label> &nbsp; <span th:text="${portoDTO.nome}"/>
                                    </div>

                                    <div class="col-sm-4">
                                        <label>Filial:</label> &nbsp; <span th:text="${portoDTO.filial.nome}"/>
                                    </div>

                                    <div class="col-sm-3">
                                        <label>CNPJ:</label> &nbsp; <span th:text="${portoDTO.cnpj}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <h3>Endereço</h3>
                                <div class="well col-sm-12">
                                    <div class="col-sm-4">
                                        <label>País:</label> &nbsp; <span th:text="${portoDTO.endereco.pais.nome}"/>
                                    </div>

                                    <div class="col-sm-4">
                                        <label>Estado:</label> &nbsp; <span th:text="${portoDTO.endereco.estado.sigla}"/>
                                    </div>

                                    <div class="col-sm-4">
                                        <label>Município:</label> &nbsp; <span th:text="${portoDTO.endereco.municipio.nome}"/>
                                    </div>
                                    <div class="col-md-12"> &nbsp; </div>
                                    <div class="col-sm-4">
                                        <label>Logradouro:</label> &nbsp; <span th:text="${portoDTO.endereco.logradouro}"/>
                                    </div>

                                    <div class="col-sm-4">
                                        <label>Bairro:</label> &nbsp; <span th:text="${portoDTO.endereco.bairro}"/>
                                    </div>

                                    <div class="col-sm-3">
                                        <label>Número:</label> &nbsp; <span th:text="${portoDTO.endereco.numero}"/>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>