<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout"
       xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PORTO</title>
    <script src="/js/porto/form.js"/>
    <script src="/js/json2html.js"/>
</head>

<body>
    <section layout:fragment="conteudo">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <ol class="breadcrumb">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/porto/list">Porto</a></li>
                            <li class="active" th:if="${id eq null}">Cadastrar Porto</li>
                            <li class="active" th:if="${id ne null}">Alterar Porto</li>
                        </ol>

                        <h1 th:if="${id eq null}">>Cadastrar Porto</h1>
                        <h1 th:if="${id ne null}">>Alterar Porto</h1>
                        <hr />
                        <input type="hidden" th:field="*{portoDTO.endereco.estado.id}" id="estadoId" th:if="${id ne null}"/>
                        <input type="hidden" th:field="*{portoDTO.endereco.municipio.id}" id="municipioId" th:if="${id ne null}"/>
                        <form method="post" action="/porto/save" th:object="${portoDTO}">
                            <div class="form-group">
                                <h3>Porto</h3>
                                <input type="hidden" th:field="*{id}" id="id"/>
                                <input type="hidden" th:field="*{endereco.id}"/>
                                <div class="well col-sm-12">
                                    <div class="col-sm-5">
                                        <label for="nome">Nome:</label>
                                        <input type="text" class="form-control" id="nome" th:field="*{nome}"/>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="filial">Filial:</label>
                                        <input type="text" class="form-control" id="filial" th:field="*{filial}"/>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="cnpj">Cnpj:</label>
                                        <input type="text" class="form-control" id="cnpj"  th:field="*{cnpj}"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <h3>Endereço</h3>
                                <div class="well col-sm-12">
                                    <div class="col-sm-4">
                                        <label for="pais">País:</label>
                                        <select id="pais" class="form-control" th:field="*{endereco.pais}">
                                            <option value="">Selecione um país</option>
                                            <option th:each="pais : ${listarPaises}" th:value="${pais.id}" th:text="${pais.nome}"></option>
                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="estado">Estado:</label>
                                        <select id="estado" class="form-control" th:field="*{endereco.estado}"></select>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="municipio">Município:</label>
                                        <select id="municipio" class="form-control" th:field="*{endereco.municipio}"></select>
                                    </div>
                                    <div class="col-md-12"> &nbsp; </div>
                                    <div class="col-sm-5">
                                        <label for="logradouro">Logradouro:</label>
                                        <input type="text" class="form-control" id="logradouro" th:field="*{endereco.logradouro}"/>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="bairro">Bairro:</label>
                                        <input type="text" class="form-control" id="bairro" th:field="*{endereco.bairro}"/>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="numero">Número:</label>
                                        <input type="text" class="form-control" id="numero" th:field="*{endereco.numero}"/>
                                    </div>
                                </div>
                            </div>
                            <input id="salvar" type="submit" class="btn btn-danger" value="Salvar"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>