<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout"
       xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ARMADOR</title>
    <script th:src="@{/js/util/form.js}"/>
    <script th:src="@{/js/armador/form.js}"/>
    <script th:src="@{/js/armador/validate.js}"/>
</head>

<body>
    <section layout:fragment="conteudo">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <ol class="breadcrumb">
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/armador/list}">Armador</a></li>
                            <li class="active" th:if="${id eq null}">Cadastrar Armador</li>
                            <li class="active" th:if="${id ne null}">Alterar Armador</li>
                        </ol>

                        <h2 th:if="${id eq null}">Cadastrar Armador</h2>
                        <h2 th:if="${id ne null}">Alterar Armador</h2>
                        <hr />
                        <input type="hidden" id="path" th:value="@{/}"/>
                        <input type="hidden" th:field="*{armadorDTO.endereco.estado.id}" id="estadoId" th:if="${id ne null}"/>
                        <input type="hidden" th:field="*{armadorDTO.endereco.municipio.id}" id="municipioId" th:if="${id ne null}"/>
                        <input type="hidden" value="armador" id="pathController"/>
                        <form method="POST" th:action="@{/armador/save}" th:object="${armadorDTO}" id="form">
                            <div class="form-group">
                                <h3>Armador</h3>
                                <input type="hidden" th:field="*{id}" id="id"/>
                                <input type="hidden" th:field="*{endereco.id}"/>
                                <div class="well col-sm-12">
                                    <div class="col-sm-8">
                                        <label for="nome"><span class="corPadraoVermelho">*</span> Nome:</label>
                                        <input type="text" class="form-control" id="nome" th:field="*{nome}" name="nome" maxlength="100"
                                               placeholder="Informe um nome"/>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="contato">Contato:</label>
                                        <input type="text" class="form-control" id="contato"  th:field="*{contato}" placeholder="Informe um contato"
                                            maxlength="50"/>
                                    </div>
                                    <div class="col-md-12"> &nbsp; </div>
                                    <div class="col-sm-12">
                                        <label for="portos"><span class="corPadraoVermelho">*</span> Porto:</label>
                                        <select multiple="multiple" id="portos" th:field="*{portoList}">
                                            <option th:each="porto : ${listarPortos}" th:value="${porto.id}" th:text="${porto.nome}"></option>
                                        </select>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <h3>Endereço</h3>
                                <div class="well col-sm-12">
                                    <div class="col-sm-4">
                                        <label for="pais"><span class="corPadraoVermelho">*</span> País:</label>
                                        <select id="pais" class="form-control manterCorDoTextoPosMensagemDeErro" th:field="*{endereco.pais}" name="endereco.pais">
                                            <option value="">Selecione um país</option>
                                            <option th:each="pais : ${listarPaises}" th:value="${pais.id}" th:text="${pais.nome}"></option>
                                        </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="estado"><span class="corPadraoVermelho">*</span> Estado:</label>
                                        <select id="estado" class="form-control manterCorDoTextoPosMensagemDeErro" th:field="*{endereco.estado}" name="endereco.estado"></select>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="municipio"><span class="corPadraoVermelho">*</span> Município:</label>
                                        <select id="municipio" class="form-control manterCorDoTextoPosMensagemDeErro" th:field="*{endereco.municipio}" name="endereco.municipio"></select>
                                    </div>
                                    <div class="col-md-12"> &nbsp; </div>
                                    <div class="col-sm-5">
                                        <label for="logradouro"><span class="corPadraoVermelho">*</span> Logradouro:</label>
                                        <input type="text" class="form-control" id="logradouro" th:field="*{endereco.logradouro}"
                                               name="endereco.logradouro" maxlength="150" placeholder="Informe um logradouro"/>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="numero"><span class="corPadraoVermelho">*</span> Número:</label>
                                        <input type="text" class="form-control" id="numero" th:field="*{endereco.numero}"
                                               name="endereco.numero" maxlength="10" placeholder="Informe um número"/>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="bairro"><span class="corPadraoVermelho">*</span> Bairro:</label>
                                        <input type="text" class="form-control" id="bairro" th:field="*{endereco.bairro}"
                                               name="endereco.bairro" maxlength="100" placeholder="Informe um bairro"/>
                                    </div>

                                </div>
                            </div>
                            <input id="salvar" type="submit" class="btn btn-danger" value="Salvar"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>